*.o
*.out
*.exe
server
client
build/
bin/
logs/*
uploads/*
downloads/*
data/*
frontend/qt_client/*.o
frontend/qt_client/moc_*.cpp
frontend/qt_client/moc_*.h
frontend/qt_client/qrc_*.cpp
frontend/qt_client/bbs_chat_qt
frontend/qt_client/downloads/*
!logs/.gitkeep
!uploads/.gitkeep
!downloads/.gitkeep
!backup/.gitkeep
!data/.gitkeep
.vscode/
.DS_Store
